body
{
    background-color: black;
}

#timer
{
    color: white;
}

#timer-digits
{
    font-size: 5rem;
}

.btn
{
    font-size: 2rem;
}

#lap-header, #lap-time-digits
{
    visibility: hidden;
    color: white;
}

#lap-recs
{
    color: white;
}

